
body {
  background-color: #040410;
  color: #fffff0;
  height: 100vh;
  overflow: hidden;
}

.blue {
  background-color: blue;
  color: #fff;
}

.flex {
  display: flex;
}

.half-filler {
  width: 50%;
}

.canvasBox {
  position: absolute;
  bottom: 0;
  left: 0;
}